.vice-captains27 {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 800;
}
.vice-captains-wrapper25 {
  position: absolute;
  top: 64px;
  left: calc(50% - 589.5px);
  border-radius: var(--br-13xl);
  background-color: var(--color-red-100);
  border: 1px solid var(--color-snow-200);
  box-sizing: border-box;
  width: 1215px;
  height: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-fira-sans-extra-condensed);
}
.gandhi-v-child4,
.vector-icon336 {
  position: absolute;
  top: 256.65px;
  left: 85.12px;
  width: 275.47px;
  height: 235.82px;
}
.gandhi-v-child4 {
  top: 245px;
  left: 130px;
  border-radius: var(--br-smi);
  background-color: var(--color-gainsboro);
  width: 173px;
  height: 229px;
}
.undraw-pic-profile-re-7g2h-1-icon56 {
  position: absolute;
  top: 190px;
  left: 97px;
  width: 232px;
  height: 283px;
  overflow: hidden;
}
.person-164 {
  position: relative;
}
.person-1-wrapper53 {
  position: absolute;
  top: 538px;
  left: 67px;
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  width: 299px;
  height: 43px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-69xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.gandhi-v-child5,
.vector-icon337 {
  position: absolute;
  top: 667.05px;
  left: 76.65px;
  width: 275.47px;
  height: 235.82px;
}
.gandhi-v-child5 {
  top: 658px;
  left: 123px;
  border-radius: var(--br-smi);
  background-color: var(--color-gainsboro);
  width: 173px;
  height: 229px;
}
.person-4-wrapper54,
.undraw-pic-profile-re-7g2h-3-icon56 {
  position: absolute;
  top: 603px;
  left: 90px;
  width: 232px;
  height: 283px;
  overflow: hidden;
}
.person-4-wrapper54 {
  top: 951px;
  left: 60px;
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  width: 299px;
  height: 43px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-69xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.gandhi-v-child6,
.vector-icon338 {
  position: absolute;
  top: 658.05px;
  right: 42.88px;
  width: 275.47px;
  height: 235.82px;
}
.gandhi-v-child6 {
  top: 647px;
  right: 92px;
  border-radius: var(--br-smi);
  background-color: var(--color-gainsboro);
  width: 173px;
  height: 229px;
}
.person-3-wrapper54,
.undraw-pic-profile-re-7g2h-4-icon56 {
  position: absolute;
  top: 592px;
  right: 66px;
  width: 232px;
  height: 283px;
  overflow: hidden;
}
.person-3-wrapper54 {
  top: 940px;
  right: 29px;
  border-radius: var(--br-4xl);
  background-color: #fff8f8;
  width: 299px;
  height: 43px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-69xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.gandhi-v-child7,
.vector-icon339 {
  position: absolute;
  top: 258.05px;
  right: 42.88px;
  width: 275.47px;
  height: 235.82px;
}
.gandhi-v-child7 {
  top: 245px;
  right: 92px;
  border-radius: var(--br-smi);
  background-color: var(--color-gainsboro);
  width: 173px;
  height: 229px;
}
.person-2-wrapper53,
.undraw-pic-profile-re-7g2h-2-icon56 {
  position: absolute;
  top: 190px;
  right: 66px;
  width: 232px;
  height: 283px;
  overflow: hidden;
}
.person-2-wrapper53 {
  top: 538px;
  right: 29px;
  border-radius: var(--br-4xl);
  background-color: var(--color-snow-200);
  width: 299px;
  height: 43px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-69xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.component-2-child110 {
  position: absolute;
  height: 122.95%;
  width: 107%;
  top: -11.48%;
  right: -3.5%;
  bottom: -11.48%;
  left: -3.5%;
  border-radius: var(--br-10xs);
  background-color: var(--color-snow-100);
  border: 7px solid var(--color-red-200);
  box-sizing: border-box;
}
.vote615 {
  position: absolute;
  top: 11.48%;
  left: 26.5%;
}
.component-256 {
  top: 290px;
  left: 409px;
}
.component-256,
.component-356,
.component-456,
.component-556 {
  position: absolute;
  width: 200px;
  height: 61px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-overpass-mono);
}
.component-456 {
  top: 290px;
  right: 351px;
}
.component-356,
.component-556 {
  top: 697px;
}
.component-556 {
  right: 351px;
}
.component-356 {
  left: 412px;
}
.gandhi-v1 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-rationale);
}
@media screen and (max-width: 1200px) {
  .vice-captains-wrapper25 {
    width: auto;
    height: 81px;
    padding-left: var(--padding-81xl);
    padding-right: var(--padding-81xl);
    box-sizing: border-box;
  }
}
